
# /
/.DS_Store
/packages

# /android/
/android/*.iml
/android/.gradle
/android/local.properties
/android/build
/android/captures
/android/.externalNativeBuild

# /android/.idea/
/android/.idea/*.iml
/android/.idea/caches
/android/.idea/libraries
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/.idea/navEditor.xml
/android/.idea/assetWizardSettings.xml

# /android/app/
/android/app/*.iml
/android/app/build
/android/app/.externalNativeBuild

# /android/app/src/main/cpp/
/android/app/src/main/cpp/bid_conf.h
/android/app/src/main/cpp/bid_functions.h
/android/app/src/main/cpp/core_commands1.cc
/android/app/src/main/cpp/core_commands1.h
/android/app/src/main/cpp/core_commands2.cc
/android/app/src/main/cpp/core_commands2.h
/android/app/src/main/cpp/core_commands3.cc
/android/app/src/main/cpp/core_commands3.h
/android/app/src/main/cpp/core_commands4.cc
/android/app/src/main/cpp/core_commands4.h
/android/app/src/main/cpp/core_commands5.cc
/android/app/src/main/cpp/core_commands5.h
/android/app/src/main/cpp/core_commands6.cc
/android/app/src/main/cpp/core_commands6.h
/android/app/src/main/cpp/core_commands7.cc
/android/app/src/main/cpp/core_commands7.h
/android/app/src/main/cpp/core_display.cc
/android/app/src/main/cpp/core_display.h
/android/app/src/main/cpp/core_globals.cc
/android/app/src/main/cpp/core_globals.h
/android/app/src/main/cpp/core_helpers.cc
/android/app/src/main/cpp/core_helpers.h
/android/app/src/main/cpp/core_keydown.cc
/android/app/src/main/cpp/core_keydown.h
/android/app/src/main/cpp/core_linalg1.cc
/android/app/src/main/cpp/core_linalg1.h
/android/app/src/main/cpp/core_linalg2.cc
/android/app/src/main/cpp/core_linalg2.h
/android/app/src/main/cpp/core_main.cc
/android/app/src/main/cpp/core_main.h
/android/app/src/main/cpp/core_math1.cc
/android/app/src/main/cpp/core_math1.h
/android/app/src/main/cpp/core_math2.cc
/android/app/src/main/cpp/core_math2.h
/android/app/src/main/cpp/core_phloat.cc
/android/app/src/main/cpp/core_phloat.h
/android/app/src/main/cpp/core_sto_rcl.cc
/android/app/src/main/cpp/core_sto_rcl.h
/android/app/src/main/cpp/core_tables.cc
/android/app/src/main/cpp/core_tables.h
/android/app/src/main/cpp/core_variables.cc
/android/app/src/main/cpp/core_variables.h
/android/app/src/main/cpp/free42.h
/android/app/src/main/cpp/shell.h
/android/app/src/main/cpp/shell_spool.cc
/android/app/src/main/cpp/shell_spool.h
/android/app/src/main/cpp/readtest_lines.cc
/android/app/src/main/cpp/readtest.c
/android/app/src/main/cpp/readtest.h
/android/app/src/main/cpp/test_bid_conf.h
/android/app/src/main/cpp/test_bid_functions.h
/android/app/src/main/cpp/bin
/android/app/src/main/cpp/IntelRDFPMathLib20U1
/android/app/src/main/cpp/libgcc111libbid-arm64.a
/android/app/src/main/cpp/libgcc111libbid-armv7.a
/android/app/src/main/cpp/libgcc111libbid-x86.a
/android/app/src/main/cpp/libgcc111libbid-x86_64.a

# /common/

# /gtk/
/gtk/*.a
/gtk/*.d
/gtk/*.o
/gtk/keymap2cc
/gtk/keymap.cc
/gtk/skin2cc
/gtk/skins.cc
/gtk/free42bin
/gtk/free42dec
/gtk/IntelRDFPMathLib20U1
/gtk/readtest.c
/gtk/readtest_lines.cc
/gtk/symlinks
/gtk/bid_conf.h
/gtk/bid_functions.h
/gtk/core_commands1.cc
/gtk/core_commands1.h
/gtk/core_commands2.cc
/gtk/core_commands2.h
/gtk/core_commands3.cc
/gtk/core_commands3.h
/gtk/core_commands4.cc
/gtk/core_commands4.h
/gtk/core_commands5.cc
/gtk/core_commands5.h
/gtk/core_commands6.cc
/gtk/core_commands6.h
/gtk/core_commands7.cc
/gtk/core_commands7.h
/gtk/core_display.cc
/gtk/core_display.h
/gtk/core_globals.cc
/gtk/core_globals.h
/gtk/core_helpers.cc
/gtk/core_helpers.h
/gtk/core_keydown.cc
/gtk/core_keydown.h
/gtk/core_linalg1.cc
/gtk/core_linalg1.h
/gtk/core_linalg2.cc
/gtk/core_linalg2.h
/gtk/core_main.cc
/gtk/core_main.h
/gtk/core_math1.cc
/gtk/core_math1.h
/gtk/core_math2.cc
/gtk/core_math2.h
/gtk/core_phloat.cc
/gtk/core_phloat.h
/gtk/core_sto_rcl.cc
/gtk/core_sto_rcl.h
/gtk/core_tables.cc
/gtk/core_tables.h
/gtk/core_variables.cc
/gtk/core_variables.h
/gtk/free42.h
/gtk/keymap2cc.cc
/gtk/shell.h
/gtk/shell_loadimage.cc
/gtk/shell_loadimage.h
/gtk/shell_spool.cc
/gtk/shell_spool.h
/gtk/skin2cc.cc
/gtk/skin2cc.conf

# /iphone/
/iphone/.DS_Store
/iphone/build
/iphone/IntelRDFPMathLib20U1
/iphone/gcc111libbid*.a
/iphone/readtest_lines.cc

# /iphone/Classes/

# /iphone/Free42.xcodeproj/
/iphone/Free42.xcodeproj/*.mode1v3
/iphone/Free42.xcodeproj/*.pbxuser
/iphone/Free42.xcodeproj/xcuserdata

# /iphone/Free42.xcodeproj/project.xcworkspace/
/iphone/Free42.xcodeproj/project.xcworkspace/xcuserdata

# /iphone/Free42.xcodeproj/project.xcworkspace/xcshareddata/
/iphone/Free42.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout
/iphone/Free42.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint

# /iphone/simpleserver/
/iphone/simpleserver/icons.c
/iphone/simpleserver/icon2c
/iphone/simpleserver/icon2c.dSYM
/iphone/simpleserver/simpleserver
/iphone/simpleserver/simpleserver.dSYM

# /iphone/simpleserver/icons/

# /mac/
/mac/build
/mac/.DS_Store
/mac/IntelRDFPMathLib20U1
/mac/gcc111libbid.a
/mac/readtest_lines.cc

# /mac/Free42.xcodeproj/
/mac/Free42.xcodeproj/*.mode1v3
/mac/Free42.xcodeproj/*.pbxuser
/mac/Free42.xcodeproj/xcuserdata

# /mac/Free42.xcodeproj/project.xcworkspace/
/mac/Free42.xcodeproj/project.xcworkspace/xcuserdata

# /mac/Free42.xcodeproj/project.xcworkspace/xcshareddata/
/mac/Free42.xcodeproj/project.xcworkspace/xcshareddata/*.xccheckout
/mac/Free42.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint

# /skins/

# /util/
/util/.DS_Store

# /windows/
/windows/*.ncb
/windows/*.suo
/windows/*.user
/windows/Debug
/windows/Release
/windows/keymap.cpp
/windows/skins.cpp
/windows/Free42Binary.exe
/windows/Free42Decimal.exe
/windows/IntelRDFPMathLib20U1
/windows/cl111libbid.lib
/windows/readtest.c
/windows/readtest_lines.cpp
/windows/bid_conf.h
/windows/bid_functions.h
/windows/core_commands1.cpp
/windows/core_commands1.h
/windows/core_commands2.cpp
/windows/core_commands2.h
/windows/core_commands3.cpp
/windows/core_commands3.h
/windows/core_commands4.cpp
/windows/core_commands4.h
/windows/core_commands5.cpp
/windows/core_commands5.h
/windows/core_commands6.cpp
/windows/core_commands6.h
/windows/core_commands7.cpp
/windows/core_commands7.h
/windows/core_display.cpp
/windows/core_display.h
/windows/core_globals.cpp
/windows/core_globals.h
/windows/core_helpers.cpp
/windows/core_helpers.h
/windows/core_keydown.cpp
/windows/core_keydown.h
/windows/core_linalg1.cpp
/windows/core_linalg1.h
/windows/core_linalg2.cpp
/windows/core_linalg2.h
/windows/core_main.cpp
/windows/core_main.h
/windows/core_math1.cpp
/windows/core_math1.h
/windows/core_math2.cpp
/windows/core_math2.h
/windows/core_phloat.cpp
/windows/core_phloat.h
/windows/core_sto_rcl.cpp
/windows/core_sto_rcl.h
/windows/core_tables.cpp
/windows/core_tables.h
/windows/core_variables.cpp
/windows/core_variables.h
/windows/free42.h
/windows/keymap2cpp.cpp
/windows/shell.h
/windows/shell_loadimage.cpp
/windows/shell_loadimage.h
/windows/shell_spool.cpp
/windows/shell_spool.h
/windows/skin2cpp.conf
/windows/skin2cpp.cpp
