<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.thomasokken.free42"
          android:installLocation="auto">
  
  <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <supports-screens android:smallScreens="true"
                    android:normalScreens="true"
                    android:largeScreens="true"/>
  
  <application android:label="Free42"
               android:icon="@drawable/icon"
               android:allowBackup="true">
    <activity android:name="Free42Activity"
              android:launchMode="singleInstance"
              android:theme="@android:style/Theme.NoTitleBar"
              android:screenOrientation="sensor"
              android:configChanges="orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name="FileImportActivity"
        android:label="Free42 Import">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <!-- Note: content URLs don't contain the file name, so you can't
             match on pathPattern, but apparently they do have a fall-back
             MIME type of the form application/<extension>, and the below
             works, at least while testing in the Andoid emulator. -->
        <data
            android:scheme="content"
            android:mimeType="application/f42"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
            android:scheme="file"
            android:host="*"
            android:pathPattern=".*\\.f42"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
            android:scheme="http"
            android:host="*"
            android:pathPattern=".*\\.f42"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data
            android:scheme="https"
            android:host="*"
            android:pathPattern=".*\\.f42"/>
      </intent-filter>
    </activity>
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.thomasokken.free42.fileprovider"
        android:grantUriPermissions="true"
        android:exported="false">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/filepaths"/>
    </provider>
  </application>

</manifest>
