<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.thomasokken.free42"
		  android:versionCode="21"
		  android:versionName="1.4.74a"
          android:installLocation="auto">
  
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="26"/>
  <uses-feature android:name="android.hardware.location.gps"
  				android:required="false"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  
  <supports-screens android:smallScreens="true"
  					android:normalScreens="true"
  					android:largeScreens="true"/>
  
  <application android:label="Free42"
               android:icon="@drawable/icon"
               android:allowBackup="true">
    <activity android:name="Free42Activity"
              android:theme="@android:style/Theme.NoTitleBar"
              android:screenOrientation="sensor"
              android:configChanges="orientation">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>
