<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.thomasokken.free42"
		  android:versionCode="7"
		  android:versionName="1.4.68dev">
  <application android:label="Free42"
			   android:icon="@drawable/icon"
			   android:debuggable="true">
    <activity android:name="Free42Activity"
			  android:theme="@android:style/Theme.NoTitleBar"
			  android:screenOrientation="sensor">
	  <intent-filter>
		<action android:name="android.intent.action.MAIN"/>
		<category android:name="android.intent.category.LAUNCHER"/>
	  </intent-filter>
	</activity>
  </application>
  <uses-sdk android:minSdkVersion="3"/>
  <supports-screens android:smallScreens="true"
  					android:normalScreens="true"
  					android:largeScreens="true"/>
</manifest>
