<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowSystem</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Free42</string>
	<key>CFBundleIdentifier</key>
	<string>com.thomasokken.free42</string>
	<key>CFBundleName</key>
	<string>Free42</string>
	<key>CFBundleShortVersionString</key>
	<string>21</string>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>CloseBoxInsetX</key>
	<integer>14</integer>
	<key>CloseBoxInsetY</key>
	<integer>12</integer>
	<key>MainHTML</key>
	<string>Free42.html</string>
</dict>
</plist>
